/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 0;
    background-color: #62768c;
}

h1 {
    color: #ffffff;
    font-family: 'Helvetica Neue', sans-serif;
}

section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.sections-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.section-box {
    background-color: #c2cfe6;
    padding: 15px;
    flex: 1 1 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

button.toggle-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #ffffff;
    color: rgb(0, 29, 87);
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

}

.form-container {
    display: none;
    margin-top: 10px;
}

input,
button,
select {
    margin: 5px 0;
    display: block;
}

.result {
    margin-top: 10px;
    font-weight: bold;
}

.error {
    color: rgb(200, 2, 2);
    font-weight: bold;
}