body {
    background-color: #bda4a4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #479642;
    background-color: #333;
    padding: 10px;
    margin: 0;
}

.genericBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e1baba;
    height: 300px;
    width: 400px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.box {
    background-color:#e1baba;
    padding: 20px;
}

.averageBox {
    background-color: #e1baba;
    height: 250px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.netPresentValueBox {
    background-color: #f4f4f4;
    height: 250px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}